*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-size: 100%  100%;

}
html{
font-size: 14px;
font-family: sans-serif;
}
a{
text-decoration: none;
}
.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

img{
height: 100%;
width: 100%;
object-fit: cover;
}
p{
text-align: left;
font-size: 1.4rem;

line-height: 1.9rem;
}
span{
color: crimson;}


/*--------header--------------*/
/*-----------hero-------------*/
#hero{
background-image: url("F:/Piyusha/BBA-CA/mama/girl-blue-top-driving-v2.jpg"); 
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;
}
#hero::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .5;
z-index: -1;
}

#hero h4{

font-family: Copperplate Gothic Light;

padding: 20px;
display: block;
width: fit-content;
font-size: 3.2rem;
position: relative;
color: white;
}
#hero h3{

font-family: Copperplate Gothic Light;
padding: 20px;
display: block;
width: fit-content;
left: 25%;
font-size: 3.2rem;
position: relative;
color: white;
}
#hero h5{

font-family: Copperplate Gothic Light;

padding-top: 20px;
display: block;
width: fit-content;
font-size: 2.2rem;
position: relative;
color: white;
}
#hero h3 span{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color: crimson;
animation: text_reveal_box 1s ease;
animation-delay: .1s;
}
#hero h4 span{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color: crimson;
animation: text_reveal_box 1s ease;
animation-delay: .2s;
}
#hero h5 span{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color: crimson;
animation: text_reveal_box 1s ease;
animation-delay: .3s;
}
#hero .cta{
margin-top: 20px;

display: inline-block;
padding: 10px 30px;
color: white;
font-weight: bold;
font-size: 18px;
text-decoration: underline;
background-color: transparent;
border: 3px solid crimson;
text-transform: uppercase;
transition: .3s ease ;
transition-property: background-color,color;
}
#hero .cta:hover{
color: white;
background-color: crimson;
}
.brand h1{
font-size: 2.5rem;
text-transform: uppercase;
color: white;
text-decoration: underline;
}
.brand h1 span{
color: crimson;
}
/*---------------------------------------*/
#buitup .section-title{
padding: 20px;
font-size: 3rem;
font-weight: 300;
font-family: Copperplate Gothic Bold;
text-decoration: double underline;
color: black;
text-transform: uppercase;
text-align: center;
letter-spacing: .7rem;
}
#buitup .buitup{
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
color: black;
opacity: .9;
flex-direction: row;
text-align: center;
max-width: 1200px;
margin: 0 auto;
padding-left: 40px;
padding-right: 30px;
}
#buitup .buitup-info{
width: 100%;
}
#buitup p{
text-align: center;
opacity: .9;
border-radius: 12px;
color: black;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5%;
padding-right: 5%;
margin-top: 15px;
margin-left: 20%;
margin-right: 20%;
font-size: 1.4rem;
font-family:  Lucida Calligraphy;
}
/*---------------------------------------*/
#services{}
#services .services{
flex-direction: column;
text-align: center;
max-width: 1500px;

padding: 20px 0;
}
#services .section-title{
font-size: 4rem;
font-weight: 300;
font-family: Permanent Marker;
text-decoration: double underline;
color: black;
margin-bottom: 10px;
text-transform: uppercase;
text-align: center;
letter-spacing: 2rem;
padding-bottom: 20px;
}
#services .section-title span{
color: crimson;
}
#services .service-top p{
font-size: 1.4rem;
margin-top: 5px;
line-height: 2rem;
font-weight: 300;
letter-spacing: .05rem;
}
#services .service-bottom{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
#services .service-item{
flex-basis: 45%;
display: flex;          
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 10px;
border-radius: 10px;
background-image: url("F:/Piyusha/BBA-CA/mama/bubble.png");
background-size: cover;
margin: 1.5%;
color: white;
position: relative;
z-index: 1;
overflow: hidden;
}
#services .service-item::after{
content:'';
position: absolute;
left: 0;
top: 0;
height: 100%;
width :100%;
background-color: black;
opacity: .5;
z-index: -1;
}
#services .service-item a {
text-decoration: double underline;
color: lightblue;
font-size: 1.3rem;
}
#services .service-bottom .icon{
height: 80px;
width: 80px;
margin-bottom: 20px;

}
#services .service-bottom .icon img{
height: 100%;
width: 100%;
object-fit: cover;

}
#services .service-item h2{
font-size: 1.7rem;
margin-bottom: 5px;
color: #D0D0D0;
font-family: Copperplate Gothic Bold;
text-transform: uppercase;
}
#services .service-item p{
text-align: left;
color: #D0D0D0;
font-size: 1.3rem;
font-family:  Lucida Calligraphy;
line-height: 1.9rem;
}
/*---------------------------------------*/
#about .section-title{
padding: 20px;
font-size: 4rem;
font-weight: 300;
font-family: Permanent Marker;
text-decoration: double underline;
color: black;
text-transform: uppercase;
text-align: center;
letter-spacing: 1rem;
}
#about .about{
flex-direction: row;
text-align: center;
max-width: 1200px;
margin: 0 auto;
padding-left: 40px;
padding-right: 30px;
}
#about .about-info{
width: 100%;
}
#about h2{
font-size: 2rem;
font-family: cursive;
text-decoration: underline;
font-weight: bold;
letter-spacing: .1rem;
margin-bottom: 25px;
}
#about p{
text-align: center;
background-color: #B8B8B8;
opacity: .9;
border-radius: 12px;
color: black;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 80px;
padding-right: 80px;
margin-top: 30px;
margin-left: 80px;
margin-right: 80px;
font-size: 1.6rem;
font-family: Bebas Neue;
}
#contact .section-title{
font-size: 3rem;
font-weight: 300;
font-family: Permanent Marker;
text-decoration: double underline;
color: black;
margin-top: 20px;
margin-bottom: 10px;
text-transform: uppercase;
text-align: center;
letter-spacing: .5rem;
}

#contact .contact{
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
}
#contact .contact-items{
width: 320px;
}
#contact .contact-item{
width: 80%;
background-color: white;
padding: 20px;
text-align: center;

border-radius: 10px;
padding: 30px;
margin: 30px;
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
box-shadow: 0px 0px 30px 0 #0000002c;
transition: .3s ease box-shadow 
}
#contact .contact-item:hover{
box-shadow: 0px 0px 10px 0 #0000002c;

}
#contact .icon{
width: 50px;
margin: 0 auto;
margin-bottom: 10px;
}
#contact .contact-info h1{
font-size: 2.5rem;
font-weight: 500;
margin-bottom: 5px;

}
#contact .contact-info h2{
font-size: 1.3rem;
line-height: 2rem;
font-weight: bold;
font-family: Copperplate Gothic Bold;
}
.map{
font-weight: bold;
font-size: 1.3rem;
font-family: Copperplate Gothic Bold;
color: darkblue;
text-decoration: underline;
}
#footer{
background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);
}
#footer .footer{
min-height: 200px;
max-height: 200px;
flex-direction: column;
padding-top: 10px;
}
#footer h2{
color: white ;
font-weight: 500;
font-family: cursive;
text-decoration-color: red;
text-decoration: double underline;
font-size: 1.5rem;
letter-spacing: .1rem;
margin-top: 10px;
margin-bottom: 10px;
}
#footer .social-icon{
display: flex;
margin-bottom: 25px;
}
/*-resizing icon---*/
#footer .social-item{
height: 45px;
width: 45px;
margin: 0 5px; 
}
/*----HOVER FOR black n white icon----*/
#footer .social-item img{
filter: grayscale(1);
transition: .3s ease filter;
}
#footer .social-item:hover img{
filter: grayscale(0);
}
#footer p{
color: white;
font-size: 1.1rem;
}



@keyframes text_reveal_box{
50%{
width: 100%;
left: 0;
}
100%{
width: 0;
left: 100%;
}
/*---responsiveness for tablet*/
